.nav {
  margin-bottom: 100px;
  z-index: 2;
}

@media only screen and (max-width: 600px) {
  /* smartphones*/
  .nav {
    margin-bottom: 130px;
  }
}
@media only screen and (max-width: 320px) {
  /* smartphones*/
  .nav {
    margin-bottom: 200px;
  }
}
